<div class="container">
        <div></div>
        <div *ngIf="persona">
                <div><input type="text" name="nombre" [(ngModel)]="persona.nombre" class="form-control"
                                placeholder="Nombre" autofocus>
                </div>
                <div><input type="text" name="apellido" [(ngModel)]="persona.apellido" class="form-control"
                                placeholder="Apellido" autofocus>
                </div>
                <div><input type="date" name="fecha_nacimiento"
                                [ngModel]="persona.fecha_nacimiento | date:'yyyy-MM-dd' : 'UTC'"
                                (ngModelChange)="persona.fecha_nacimiento = $event" class="form-control"
                                placeholder="Fecha_nacimiento">
                </div>
                <button class="btn btn-success" (click)="actualizarDato()">Actualizar</button>
        </div>
</div>