<div class="container">
    <h1>Lista de personas</h1>
    <button class="btn btn-success" [routerLink]="['crear/']">crear</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let persona of data">
                <th scope="row">{{ persona.id }}</th>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.fecha_nacimiento|date:'YYYY-MM-DD': 'UTC'}}</td>
                <td><button class="btn btn-danger" [routerLink]="['']"
                        (click)="deletePersona(persona.id)">Eliminar</button></td>
                <td><button class="btn btn-primary" [routerLink]="['editar/',persona.id]">Actualizar</button></td>

            </tr>
        </tbody>
    </table>
</div>